.navbar {
  background-color: #ea2127;
}

.navbar .sub-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar .sub-section .left-items {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 80px;
    color: white;
    margin-right: 18px;
  }

  p {
    font-size: 112px;
    font-weight: 800;
    color: white;
    margin: 0px;
  }
}
.navbar .sub-section .right-items {
  display: flex;
  align-items: center;

  .menu-bar {
    display: flex;
    flex-direction: column;
    width: 40px;
    gap: 9.5px;
    transition: all 0.25s;
    cursor: pointer;

    div {
      height: 3px;
      background-color: white;
      width: 100%;
    }
  }

  .menu-bar:hover {
    transform: scale(1.1) rotate(360deg);

    div {
      box-shadow: 0px 0px 10px white;
    }
  }
}

@media screen and (max-width: 900px) {
  .navbar .sub-section .left-items {
    p {
      font-size: 50px;
    }
    img {
      width: 50px;
    }
  }
}

@media screen and (min-width: 900px) {
  .navbar .sub-section .left-items {
    p {
      font-size: 112px;
    }
    img {
      width: 80px;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  top: 30px;
  right: 0;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 12px;
  z-index: 1000;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.25s;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #ea2127;
  color: white;
}
