.signed-collection-section {
  padding-top: 133px;
  padding-bottom: 120px;
  background-color: #111111;
}

.signed-collection-section .sub-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signed-collection-section .sub-section .left-items {
  p {
    margin: 0px;
    text-transform: uppercase;
  }

  .white {
    font-size: 49px;
    font-weight: 500;
    line-height: 58.8px;
    color: white;
  }

  .red {
    font-size: 70px;
    font-weight: 700;
    line-height: 84px;
    color: #de2a2f;
    margin-bottom: 25px;
  }

  button {
    padding: 16px 32px;
    border: none;
    background-color: white;
    border-radius: 12px;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.25s;
  }

  button:hover {
    background-color: #ec3339;
    color: white;
    box-shadow: 0px 0px 10px rgba(255, 45, 45, 0.678);
  }

  img {
    width: 754px;
  }
}

.signed-collection-section .sub-section .right-items {
  display: flex;

  img {
    width: 404px;
    transition: all 0.25s;
  }

  img:hover {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 900px) {
  .signed-collection-section .sub-section .right-items {
    flex-direction: column;
  }

  .signed-collection-section .sub-section .left-items {
    .sign-image {
      width: 354px;
    }

    .white {
      font-size: 19px;
    }

    .red {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .signed-collection-section .sub-section {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .signed-collection-section .sub-section .left-items {
    .sign-image {
      width: 454px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .signed-collection-section .sub-section {
    flex-direction: row;
  }

  .signed-collection-section .sub-section .left-items {
    .sign-image {
      width: 654px;
    }
  }
}
