@font-face {
  font-family: "act-of-rejection";
  src: url("../src/assets/Font/act_of_rejection/Act_Of_Rejection.ttf")
    format(truetype);
}

@font-face {
  font-family: "Montserrat";
  src: url("../src/assets/Font/Montserrat/Montserrat-VariableFont_wght.ttf")
    format(truetype);
}

@font-face {
  font-family: "Inter";
  src: url("../src/assets/Font/Inter/Inter/Inter-VariableFont_opsz\,wght.ttf")
    format(truetype);
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  margin: 0px auto;
  font-family: "Montserrat";
}

.container {
  margin: 0px 118px;
}

.separator {
  background-color: #a6a5a380;
  height: 1px;
  width: 100%;
  margin: 32px 0px 48px 0px;
}

@media screen and (max-width: 900px) {
  .container {
    margin: 0px 20px;
  }
}

@media screen and (min-width: 900px) {
  .container {
    margin: 0px 50px;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    margin: 0px 110px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    margin: 0px 118px;
  }
}
